.main {
  background-color: #f8f9fa;

  .table-box {
    width: 86%;
    min-height: 80vh;
    margin: 0 auto;
    padding-bottom: 50px;

    .root {
      width: "100%";

      .container {
        max-height: 440;

        a {
          text-decoration: none;
          color: #3499db;
        }
      }
    }
  }
}
