.main {
  background-color: #f8f9fa;

  .table-box {
    width: 82%;
    height: 596px;
    margin: 0 auto;

    .root {
      width: "100%";

      .container {
        max-height: 440;

        a {
          text-decoration: none;
          color: #3499db;
        }
      }
    }
  }
}

.page-main {
  width: 82%;
  height: 50vh;
  // background: blue;
  margin: 0 auto;
}
